.rightcard{
    width:500px;
    height:500px;
    border: 1px solid black;
    position:sticky;
    padding:12px 12px;
    margin:40px 12px;
    top: 65px;
    background-color: lavender;
}

label {
    display: flex;
}

button{
    margin-top:20px;
    width:100%;
}
h1{
    margin:18px 0px;
}

.Heading{
    font-size: 250px;
    margin-top: -400px;
    margin-bottom: 200px;
    z-index: 1;
    opacity: 100%;
}